/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  /* width: 1320px; */
  padding: 0px 5px;
  margin: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}


/* Header Section Start */
.header {
  padding: 30px 0;
}

.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .header-wrapper ul {
  display: flex;
  align-items: center;
}

.header .header-wrapper ul li {
  margin-left: 40px;
}

.header .header-wrapper ul li a {
  font-size: 14px;
  color: rgba(0, 0, 0, .7);
  transition: all .3s ease;
}

.header .header-wrapper ul li a:hover {
  color: rgba(0, 0, 0, 1);
}

.header .header-wrapper ul .header-btn {
  background-color: #081158;
  padding: 8px 20px;
  border: 1px solid #081158;
  border-radius: 50px;
  cursor: pointer;
  transition: all .3s ease;
}

.header .header-wrapper ul .header-btn:hover {
  background-color: transparent;
}

.header .header-wrapper ul .header-btn a {
  font-size: 14px;
  color: #FBB244;
  transition: all .3s ease;
}

.header .header-wrapper ul .header-btn:hover a {
  color: rgba(0, 0, 0, 1);
}

#check {
  display: none;
}

.checkbtn {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

/* Header Section End */

/* Hero Section Start */
.hero-section {
  padding: 120px 0;
}

.hero-section .hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}

.hero-section .hero-wrapper .hero-img-box {
  width: 48%;
}

.hero-section .hero-wrapper .hero-img-box img {
  width: 100%;
}
/* Hero Section End */



/* Section Title Contetn Start */
.section-content-box {
  width: 48%;
}

.section-content-box span {
  font-size: 10px;
  font-weight: 700;
  padding: 5px 20px;
  background-color: #FEF0D9;
  color: #FBB244;
  border-radius: 30px;
  text-transform: uppercase;
}

.section-content-box h1 {
  font-size: 40px;
  font-weight: 700;
  color: #081158;
  margin-top: 7px;
  margin-bottom: 20px;
}

.section-content-box p {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  margin-bottom: 3rem;
}

.section-content-box .btn-box {
  display: flex;
  gap: 20px;
}

.section-content-box .btn-box .btn-one {
  padding: 12px 30px;
  border: 1px solid #081158;
  background-color: #081158;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  transition: all .3s ease-in-out;
} 

.section-content-box .btn-box .btn-one:hover {
  background-color: transparent;
  color: #081158;
}

.section-content-box .btn-box .btn-two {
  padding: 12px 30px;
  border: 1px solid #081158;
  background-color: transparent;
  color: #081158;
  font-size: 15px;
  font-weight: 500;
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

.section-content-box .btn-box .btn-two:hover {
  background-color: #081158;
  color: #fff;
}

.section-content-box ul {
  margin-bottom: 3rem;
}

.section-content-box ul li {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  margin-bottom: 5px;
}

.section-content-box ul li i {
  margin-right: 5px;
}

.section-title {
  width: 500px;
  margin: auto;
  text-align: center;
}

.section-title span {
  font-size: 10px;
  font-weight: 700;
  padding: 5px 20px;
  background-color: #FEF0D9;
  color: #FBB244;
  border-radius: 30px;
  text-transform: uppercase;
}

.section-title h1 {
  font-size: 40px;
  font-weight: 700;
  color: #081158;
  margin-top: 10px;
  margin-bottom: 20px;
}

.section-title p {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
}
/* Section Title Contetn End */


/* Features Section Start */
.feature-section {
  margin-bottom: 120px;
}

.feature-section .feature-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-section .feature-wrapper .feature-item {
  width: 28%;
  text-align: center;
}

.feature-section .feature-wrapper .feature-item .icon-box {
  position: relative;
}

.feature-section .feature-wrapper .feature-item .icon-box::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(253, 216, 161, .7);
  border-radius: 50%;
  top: -15px;
  left: 50%;
}

.feature-section .feature-wrapper .feature-item .icon-box i {
  font-size: 50px;
  color: rgba(0, 0, 0, .5);
}

.feature-section .feature-wrapper .feature-item h3 {
  font-size: 18px;
  margin: 15px 0;
}

.feature-section .feature-wrapper .feature-item p {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
}
/* Features Section End */

.p-mb-0 {
  margin-bottom: 0 !important;
}
.para-m-16 {
  margin: 16px 0 !important;
}


/* Services Section Start */
.service-section {
  padding: 120px 0;
}

.service-section .service-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.service-section .service-wrapper .service-item-box {
  width: 35%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, .3);
  margin-bottom: 60px;
  padding: 30px;
}

.service-section .service-wrapper .service-item-box .icon-box {
  position: relative;
  margin-right: 30px;
}

.service-section .service-wrapper .service-item-box .icon-box::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background-color: rgba(253, 216, 161, .7);
  border-radius: 50%;
  left: 15px;
  top: -15px;
}

.service-section .service-wrapper .service-item-box .icon-box i {
  font-size: 40px;
  color: rgba(0, 0, 0, .5);
}

.service-section .service-wrapper .service-item-box .content h3 {
  font-size: 16px;
  margin-bottom: 10px;  
}

.service-section .service-wrapper .service-item-box .content p {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
}
/* Services Section End */


/* Testimonial Section Start */
.testimonial-section {
  padding: 120px 0;
  background-color: #dcdcdc;
}

.testimonial-section .testimonial-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box {
  /* width: 33% !important; */
  padding: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  box-shadow: 2px 5px 30px rgba(0, 0, 0, .1);
}

.testimonial-section .testimonial-wrapper .testimonial-item-box p {
  font-size: 18px;
  color: rgba(0, 0, 0, .5);
  font-weight: 400;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box {
  display: flex;
  margin-top: 60px;
  align-items: center;
}
.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box .user-img {
  width: 50px;
  height: 50px;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box .user-img img {
  width: 100%;
  border-radius: 50%;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box .user-text {
  margin-left: 20px;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box .user-text h4 {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.testimonial-section .testimonial-wrapper .testimonial-item-box .user-box .user-text span {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}
/* Testimonial Section End */


/* Footer Section Start */
.footer {
  padding: 120px 0;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: self-start;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.footer .footer-wrapper .footer-item-box {
  width: 24%;
  padding: 0 10px;
}

.footer .footer-wrapper .footer-item-box h3 {
  font-size: 15px;
  color: #000;
  margin-bottom: 20px;
}

.footer .footer-wrapper .footer-item-1 p {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
}

.footer .footer-wrapper .footer-item-1 .social-box {
  margin-top: 20px;
}

.footer .footer-wrapper .footer-item-1 .social-box a {
  text-align: center;
}

.footer .footer-wrapper .footer-item-1 .social-box a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #081158;
  border: 1px solid #081158;
  color: #fff;
  transition: all .3s ease-in-out;
}

.footer .footer-wrapper .footer-item-1 .social-box a i:hover {
  background-color: transparent;
  color: #081158;
}

.footer .footer-wrapper .footer-item-2 ul li,
.footer .footer-wrapper .footer-item-3 ul li {
  margin-bottom: 15px;
}


.footer .footer-wrapper .footer-item-2 ul li a,
.footer .footer-wrapper .footer-item-3 ul li a {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  transition: all .3s ease-in-out;
}

.footer .footer-wrapper .footer-item-2 ul li a:hover,
.footer .footer-wrapper .footer-item-3 ul li a:hover {
  color: #000;
}

.footer .footer-wrapper .footer-item-4 ul li {
  color: rgba(0, 0, 0, .5);
  font-size: 14px;
  margin-bottom: 15px;
}

.footer .footer-wrapper .footer-item-4 ul li i {
  margin-right: 10px;
}

.copyright-text {
  font-size: 14px;
  color: rgba(0, 0, 0, .5);
  text-align: center;
}


/* Footer Section End */